#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.client-list {
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 312px);
  gap: 8px;
  grid-auto-flow: dense;
}

.tile {
  display: flex;
  border: solid 1px white;
  border-radius: 5px;
  height: 90px;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.tile:hover {
  background-color: darkslategray;
  cursor: pointer;
}

.tile-expanded {
  grid-column: 1 / -1;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.point-header {
  display: flex;
  flex-direction: column;
}

.transactions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
